[Desktop Entry]
Type=Application
Name=Firefox web browser
GenericName=Web browser
Comment=Firefox web browser
Exec=firefox %u
Icon=org.mozilla.Firefox
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
