[Desktop Entry]
Type=Application
Name=Firefox web browser
GenericName=Web browser
Comment=Firefox web browser
Exec=firefox-wrapper %u
Icon=org.mozilla.firefox
Terminal=false
Categories=Network;WebBrowser;
